.box-intestazione{
    background-color: #4DA0FF;  
    background-image: url(../img/pattern.png); 
    background-size: 10%;
}
.credit{
    font-size: x-large;
}
.autore {
    color: #6FC7EE;
}

.sottolineato{
    background-color:#FFFD00 ;
}
thead{
    background-color:#1FA9E5 ;
    color: white;
}
.tr-color{
    background-color:#B1E5F2 ;
}
.pc{
    background-image: url(../img/monitor.jpg)
    background-repeat: no-repeat;
    text-align: justify;
}